<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sample Project</title>
  <link rel="stylesheet" href="dist/styles.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='//fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700,900,700italic' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16" />
</head>
<body>

  <header>
    <div class="padded clearfix">
      <div class="logo float">Dan Brown</div>
      <ul class="inline pull-right">
        <li><a href="https://github.com/ssddanbrown"><i class="fa fa-github"></i></a></li>
        <li><a href="https://uk.linkedin.com/in/danjamesbrown"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </header>

  <section class="container" id="projects">
    <h2>My Latest Projects</h2>

    <a v-for="project in projects" :href="project.link" target="_href" class="card ripples" :class="project.color">
      <h2 v-html="project.title"></h2>
      <p class="summary" v-text="project.description"></p>
      <hr>
      <p class="tech"><span v-for="skill in project.skills" v-text="skill"></span></p>
    </a>

  </section>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
</body>
</html>
