@font-face {
	/* Font is 'Generic by AlphaNumericLlama' taken from https://www.pentacom.jp/pentacom/bitfontmaker2/gallery/?id=390 */
    font-family: 'genericmedium';
    src: url('../fonts/generic-webfont.woff2') format('woff2'),
         url('../fonts/generic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html, body {
	font-family: 'genericmedium', serif;
	font-size: 16px;
	background: #14b3ab;
}

.bezel-out {
	border-top: 4px solid #DDD;
	border-left: 4px solid #DDD;
	border-bottom: 4px solid #666;
	border-right: 4px solid #666;
}

.bezel-in-thin-hard {
	border-top: 3px solid #000;
	border-left: 3px solid #000;
}

.window {
	max-width: 800px;
	margin: 0 auto;
	background-color: #BBB;
	padding: 2px;
	border: 2px double #000;
}

.window-titlebar {
	background-color: #BBB;
	margin-bottom: 2px;
	display: flex;
	flex-direction: row;
}

.window-title {
	font-size: .9rem;
	color: 0;
	margin: 0;
	padding: .2rem 1rem;
	color: #000;
	font-weight: bold;
}

.window-title-decoration {
	display: flex;
	flex-direction: column;
	padding-right: 1rem;
	gap: 4px;
	flex: 1;
	justify-content: center;
}
.window-title-decoration > div {
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;
	border-bottom: 1px solid #222;
	border-right: 1px solid #222;
	background-color: #BBB;
	height: 3px;
	width: 100%;
}

.window-content {
	background-color: #BBB;
	overflow: hidden;
	padding: 1rem;
}

.window-panel {
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-bottom: 2px solid #DDD;
	border-right: 2px solid #DDD;
}
.window-panel-inner {
	border-top: 2px solid #DDD;
	border-left: 2px solid #DDD;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	padding: 1rem;
}

.window img {
	width: 250px;
	height: auto;
	display: block;
}

.window-flex {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.padded {
	padding: 1rem;
}

.window-section-title {
	font-weight: bold;
	margin: 1rem 0 1rem 0;
	font-size: 1rem;
	color: #3e3e3e;
	position: relative;
	display: block;
}
.window-section-title span {
	background: #BBB;
	padding: 0 0.5rem;
	z-index: 3;
	margin: 0 1rem;
	position: relative;
}
.window-section-title::before {
	content: '';
	width: 100%;
	height: 4px;
	display: block;
	border-top: 2px solid #888;
	border-bottom: 2px solid #888;
	position: absolute;
	left: 0;
	top: calc(50% - 4px);
	z-index: 1;
}

a {
	text-decoration: underline;
	color: #000;	
}

ul {
	list-style-type: square;
	margin: 0;
	padding-left: 1rem;
}

p, li, h2 {
	/* text-shadow: .5px .5px #D5D5D5;
	transform: scaleY(1.06); */
	line-height: 1.3;
}